---
layout: portfolio
title: Portfolio
---

<div class="posts">
  {% for post in site.categories.portfolios %}
  <div class="post">
  <article class="portfolio">

      {% if post.image %}
        <a class="portfolio-thumbnail" style="background-image: url('{{site.baseurl}}{{post.image}}')" href="{{post.url | prepend: site.baseurl}}">
        </a>

      {% endif %}
      <div class="portfolio-content">
        <h1 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h1>
        <span class="post-date">{{ post.start}} ~ {{post.end}}</span>
        <p>{{ post.excerpt }}</p>
      </div>
 </article>
</div>
  {% endfor %}

</div>
